@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl font-bold md:text-4xl;
  }

  h2 {
    @apply text-xl font-bold md:text-3xl;
  }

  h3 {
    @apply text-lg font-bold md:text-2xl;
  }

  h4 {
    @apply text-base font-bold md:text-lg;
  }

  body {
    @apply text-sm md:text-base;
  }
}
@layer utilities {
  .h1 {
    @apply text-2xl font-bold md:text-4xl;
  }

  .h2 {
    @apply text-xl font-bold md:text-3xl;
  }

  .h3 {
    @apply text-lg font-bold md:text-2xl;
  }

  .h4 {
    @apply text-base font-bold md:text-lg;
  }
}

@layer components {
  .preloader {
    @apply text-center max-w-80 w-full;
  }
  .cart {
    display: block;
    margin: 0 auto 1.5em auto;
    @apply size-32;
  }
  .cart__lines,
  .cart__top,
  .cart__wheel1,
  .cart__wheel2,
  .cart__wheel-stroke {
    animation: cartLines 2s ease-in-out infinite;
  }
  .cart__lines {
    stroke: rgb(37, 244, 140);
  }
  .cart__top {
    animation-name: cartTop;
  }
  .cart__wheel1 {
    animation-name: cartWheel1;
    transform: rotate(-0.25turn);
    transform-origin: 43px 111px;
  }
  .cart__wheel2 {
    animation-name: cartWheel2;
    transform: rotate(0.25turn);
    transform-origin: 102px 111px;
  }
  .cart__wheel-stroke {
    animation-name: cartWheelStroke;
  }
  .cart__track {
    stroke: rgba(23, 28, 26, 0.1);
    transition: stroke 0.3s;
  }

  /* Animations */
  @keyframes cartLines {
    from,
    to {
      opacity: 0;
    }
    8%,
    92% {
      opacity: 1;
    }
  }
  @keyframes cartTop {
    from {
      stroke-dashoffset: -338;
    }
    50% {
      stroke-dashoffset: 0;
    }
    to {
      stroke-dashoffset: 338;
    }
  }
  @keyframes cartWheel1 {
    from {
      transform: rotate(-0.25turn);
    }
    to {
      transform: rotate(2.75turn);
    }
  }
  @keyframes cartWheel2 {
    from {
      transform: rotate(0.25turn);
    }
    to {
      transform: rotate(3.25turn);
    }
  }
  @keyframes cartWheelStroke {
    from,
    to {
      stroke-dashoffset: 81.68;
    }
    50% {
      stroke-dashoffset: 40.84;
    }
  }
}
.product .btn {
  transition: all 1s;
  transform: translateY(100%);
  opacity: 0;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
}
.product:hover .btn {
  transform: translateY(0%);
  opacity: 1;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
}
/*  */
.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.active {
  color: green;
}
.Login {
  box-shadow: 2px 10px 10px 2px rgba(10, 10, 10, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
